.env
.env.*
!.env.example
.git
.github
node_modules
vendor
public/build
public/hot
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.phpunit.cache
.phpunit.result.cache
docker-compose*.yml
.fleet
.idea
.nova
.vscode
.zed
.DS_Store
